<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMethodInvokerService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/Business/MethodInvokerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMethodInvokerService"
                contract="Enova365Webservice.IMethodInvokerService" name="BasicHttpBinding_IMethodInvokerService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="ConfigFile" value="WebserviceClient.config"/>
  </appSettings>
</configuration>