<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Host" value="http://localhost/Business/MethodInvokerService.svc" />
    <add key="Database" value="PKOL3" />
    <add key="User" value="OperatorWebservice" />
    <add key="Password" value="TEST" />
    <add key="MethodName" value="NieobecnoscGet" />
    <add key="Namespace" value="CWI.PKOL.Webservice.PKOLService.PKOLService, CWI.PKOL" />
  </appSettings>
</configuration>