<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Host" value="https://localhost/Business/MethodInvokerService.svc" />
    <add key="Database" value="PKOL3" />
    <add key="User" value="OperatorWebservice" />
    <add key="Password" value="TEST" />
    <add key="MethodName" value="NieobecnosciZastepstwaGet" />
    <add key="Namespace" value="CWI.PKOL.Webservice.PKOLService.PKOLService, CWI.PKOL" />
    <add key="Identity" value="Login" />
    <add key="Pracownik" value="konto" />
    <add key="Od" value="2022-01-01" />
    <add key="Do" value="2023-01-01" />
    <add key="Rok" value="2022" />
  </appSettings>
</configuration>